/* ウェブページ周囲の余白を消す */
body {
   margin: 0;
   padding: 0;
}

/* 泡の見た目 */
.bubble {
  position: absolute;
  bottom: -50px;
  background-color: transparent;
  border-radius: 50%; 
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba(255,255,255,0.2);
  animation: bubble 8s linear infinite;
}

/* 泡の一番明るい部分を疑似要素で表現 */
.bubble::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(rgba(240,250,255, 0.64), transparent);
  border-radius: 30%;
}

/* 泡が上に浮かび上がっていくアニメーション */
@keyframes bubble {
  0% {
    transform: translatY(0);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(-260vh);
    opacity: 0;
  }
}
/* 背景 */
.bubble-background {
  position: relative;
  background:linear-gradient(#84CFFF, #40A6EC,#3289DF,#2465D3);
  height: 260vh;
  width: 100%;
  overflow: hidden;
}

/* 本文の設定 */
.portfolio-text {
  color: #FFFFFF;           /* 文字の色 */
  font-size: 170%;              /* 文字の大きさ */
  text-align:  center;        /* 文字を要素の中央に */
  width:  auto;               /* 要素の幅指定 */
  padding: 50px 0;            /* 周りの余白指定 */
  display:block;              /* ブロック要素にする */
}
